<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Login Page | Image Gallery</title>
</head>

<body>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Login</span>
            </div>
            <form action="/image/template/" method="post"> 
            <div class="input_box">
                <input type="text" id="user" class="input_field" required name="username">
                <label for="user" class="label">Username</label>

                <i class="fa-regular fa-user"></i>
            </div>
            <div class="input_box">
                <input type="password" id="user" class="input_field" required name="password">
                <label for="pass" class="label">Password</label>

                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="remember-forgot">
                <div class="remember-me">
                    <input type="checkbox" name="" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <div class="forgot">
                    <a href="#">Forgot password?</a>
                </div>

            </div>
                {% csrf_token %}
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Login">
                    <a href="">About us</a>
                
                </div>
            </form>
           
            <div class="register">
                <span>Don't have an account? <a href="/Registration/">Register  </a></span>
            </div>
        </div>
    </div>
</body>

</html>